.list-customers-page {
    width: 100%;
    padding: 20px;
    margin: 0px auto;
    max-width: 1024px;
    background-color: #fff;

    .list-customers-page__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .list-customers-page__title {
            font-size: 20px;
            font-weight: bold;
            margin: 0px auto 0px 0px;
        }

        .list-customers-page__btn {
            margin-left: 15px;
        }
    }

    .list-customers-page__body {
        .table.list-customers__table {
            width: 100%;
            border-collapse: unset;
            border-spacing: 0px;

            th, td {
                font-size: 14px;
                padding: 5px 10px;
                vertical-align: middle;
            }

            thead {
                tr {
                    th {
                        border: 0px;
                        padding: 10px;
                        font-weight: bold;
                        background-color: rgba(240, 240, 240, 1)
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border-bottom: 1px solid rgba(240, 240, 240, 1);
                    }
                }
            }

            .table__table-data {
                button {
                    font-size: 14px;
                    padding: 2px 10px;
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
        }
    }  
}